.spinning-cog {
  transition-property: scale;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

}

.spinning-cog:hover {
  animation: spin 7s linear infinite;
  animation-fill-mode: forwards;
}

.spinning-cog-fill {
  fill: #fff;
}

.spinning-cog-smaller {
  transform: scale(0.85);
}

